@import "variables.css";
.footer-lower, .question-answer-box-button, .question-answer-box,
.price-service-content-card, .price-block-mark, .price-service-title,
.price-service-text, .button-news, .smart-location-title,
.block, #main-iPad, .button, .button-purchase-console,
.price-button-purchase, .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-lower, .footer-hight, .question-answer-box-title, .question-answer-box-text,
.question-answer-box-button, .question-answer-answer, .question-answer-title,
.answer-content, .question-header, .price-question, .price-text,
.price-price, .price-price p, .price-service-title, 
.price-service-text, .private-servers-information, .private-servers-title,
.button-news, .smart-location-information-title, .smart-location-information,
.title-smart, .title-smart-smoll, .about-us-list, .about-us-text, .about-us-title,
.button, .button-purchase-console, .price-button-purchase {
    color: var(--main-color-text-lighter);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: var(--main-color-text-lighter);
    text-decoration: none;
    transition: color 0.4s ease;
}
.setka {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 150%;
    background-image:
        linear-gradient(to right, var(--main-color-setka) 1.5px, transparent 1px),
        linear-gradient(to bottom, var(--main-color-setka) 1.5px, transparent 1px);
    opacity: 40%;
    background-size: 60px 60px;
}
a:hover {
    color: var(--main-color-text-lighter);
}
html {
    scroll-behavior: smooth;
    background: var(--main-color-back);
}
body {
    display: flex;
    flex-direction: column;
    background: var(--main-color-back);
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    animation: goodmorning 1s ease;
}
header {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 10;
    
    width: 100%;
    height: 100px;
    animation: header-appearance 0.5s ease-in-out forwards, header-scroll linear forwards;
    animation-timeline: auto, scroll();
    animation-range-end: 70vh;
    animation-range-start: 40vh;
}
.container {
    flex-direction: row;
    gap: 0px;
    flex: 1;
    padding-left: 80px;
    overflow: hidden;

    font-size: 22px;
    word-spacing: -5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: var(--main-color-text-lighter);
}
#menu {
    flex: 2;
    padding-left: 0px;
    gap: 6%;
    justify-content: center; 

    font-size: 18px;
    word-spacing: 1%;
    font-family:sans-serif;
    font-weight: 300;
}
.button, .button-purchase-console, .price-button-purchase {
    cursor: pointer;
    flex-wrap: nowrap;
    gap: 2px;
    flex-direction: row;
    

    background-color: var(--main-color-electro-blue);
    height: 52px;
    width: fit-content;
    padding-inline: 7%;
    border-radius: 100px;

    appearance: none;
    color: var(--main-color-text-black-blue);
    font-size: 18px;
    word-spacing: 0px;
    font-weight: 450;
}
.arrow {
    display: inline-block;
    background-image: url("https://static.thenounproject.com/png/1053750-200.png");
    background-position: 50% 80%;
    background-size: 90%;
    background-repeat: repeat;
    opacity: 65%;

    width: 30px;
    height: 30px;

    transition: all 0.3s ease;
}
.button:hover .arrow {
 background-position: 950% 80%;
}
.button-purchase-console:hover .arrow {
 background-position: 950% 80%;
}
a:hover {
    color: var(--main-color-text-blue);
}
.slide {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100vh;
    /* background: rgb(6, 7, 16); */
}
#main {
    flex-direction: column-reverse;
    align-items: center;
    background: linear-gradient(var(--main-color-back-lighter), var(--main-color-back)); 
    
    height: 100vh;
}
.lightbulb {
    width: 20px;    
    height: 20px;

    border-radius: 50px;
    background: radial-gradient(rgb(0, 226, 0) 0%, rgba(0, 0, 0, 0) 50%) ;
}
.main-extension-online {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    gap: 10px;

    width: fit-content;
    height: 30px;

    background-color: var(--color-back-online);
    border-radius: 50px;
    border: 1px solid var(--color-border-online);
    box-shadow: 
        inset 0px 0px 15px var(--color-shadow-online);
    color: var(--color-online-gray);

    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: "weight";
    font-style: normal;
    font-size: 15px;
    font-weight: 100;
}
#main-text-title, .main-text-information {
    text-align: center;
    color:  var(--main-color-text-lighter);
    margin: 0px;
    margin-bottom: 20px;

    font-size: 72px;
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;   
}
.main-text-information {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 80px;
}
#main-button-give-config {
    padding-inline: 20px;
    margin-bottom: 50px;
}
#main-iPad {
    padding-top: 100px;

    height: 140vh;
    z-index: 2;
}
.iPad {
    box-sizing: border-box;
    padding: 30px;
    background-image: url("./Photo/0uQOtt1RDWO57ZysKpGCDztBYu8.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 85%;
    height: 120vh;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 2px; 
}
.iPad::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  /* Конический градиент создает четкую световую полосу */
  background: conic-gradient(
    transparent, 
    rgba(0, 149, 255, 0.1), 
    #0095ff, /* Яркая точка линии */
    transparent 30%
  );
  /* Вращение линии по кругу */
  animation: rotate-glow 4s linear infinite;
  z-index: 1;
}
.card-content {
  position: relative;
  background: #030304; /* Темный фон карточки из макета */
  width: 96,5%;
  height: 94.6%;
  border-radius: 19px; /* Чуть меньше радиуса карточки, чтобы рамка была ровной */
  padding: 24px;

  z-index: 2; /* Поднимает контент выше бегущей линии */
  color: var(--main-color-text-lighter);
    background-image: url("./Photo/0uQOtt1RDWO57ZysKpGCDztBYu8.webp");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    background-size: contain;
    background-repeat: no-repeat;
}

#slider-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;


    height: 110px;
    
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
}
.storage-block {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-shrink: 0;

    height: 100%;
    width: fit-content;

    animation: slider-block 30s linear infinite;    
}
.block {
    flex-shrink: 0;

    height: 100%;
    width: 250px;

    color: var(--main-color-text-lighter);
    font-size: 35px;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    border-radius: 15px;
    background-color: var(--main-color-black-gray);
}
#information-about-us, #private-servers, #question-answer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 75px;

    height: calc(100vh - 200px);
}
.information-block-phone {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 35px;
    flex: 6;
    height: calc(100% - 100px);

}
.information-block-text {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 25px;
    flex: 4;
    height: calc(100% - 100px);
}
.about-us-block-phone, .private-servers-phone {
    border-radius: 30px;
    background-image: url("Photo/0Vad2x2MqW8hXYWB5Z2w8w60Vjc.webp");
    background-position: 50% 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 650px;
    height: 500px;
    margin-left: 75px;
    overflow: hidden;
}
.about-us-block-phone::before, .private-servers-phone::before {
    content: "";
    position: absolute;
    animation: about-us-phone-move linear forwards;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
    width: 650px;
    height: 500px;
    background: linear-gradient(to bottom, rgb(23, 23, 27), rgb(43, 50, 66));
    z-index: -1;
    border-radius: 30px;
}

.about-us-title { 
    animation: about-us-text-move linear forwards;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
    width: 70%;
    height: fit-content;
    margin: 0px;
    text-align: start;

    font-size: 50px;
}
.about-us-text {
    animation: about-us-text-move linear forwards;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
    width: 70%;
    height: fit-content;
    margin: 0px;
    text-align: start;

    font-size: 18px;
    font-weight: 100;
}
.about-us-list {
    width: 70%;
    height: fit-content;
    margin: 0px;
    text-align: start;
    margin-top: 30px;

    font-size: 16px;
    font-weight: 300;
    text-indent: 10px;
    list-style: none;
}
.about-us-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.4;
}
#list-about {
    animation: about-us-text-move linear forwards;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 30%;
}
.about-us-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 11px;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    background-image: url('Photo/591FgwOFp0UbGjaCNN9fqz02HI.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
#smart-location {
    animation: about-us-text-move-top linear forwards;
    animation-timeline: view();
    animation-range-start: 25%;
    animation-range-end: 30%;
    display: flex;
    flex-direction: column;

    height: calc(100vh - 100px);
    opacity: 0;
}   
.smart-location-title {
    flex-direction: column;

    width: 100%;
    height: 200px;
}
.title-smart, .title-smart-smoll {
    margin: 0px;
    font-size: 50px;
    font-weight: 500;
}
.title-smart-smoll {    
    margin-top: 20px;
    font-weight: 200;
    font-size: 19px; 
}
.smart-location-allblock {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
}
.smart-location-lentablock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 100px;
    flex: 1;
}
.smart-location-block {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex: 1;
}
.smart-location-block-icon {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 200px;
}
.smart-location-icon, .smart-location-icon-fon {
    grid-column: 1;
    grid-row: 1;
    width: 200px;
    height: 200px;
    width: 100%;
    height: 100%;
    background-image: url("Photo/79teG2rQpGyFB5GQBWGx2UZh0dI.svg");
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
    z-index: 1;
}
.smart-location-icon-fon {
    background-image: url("Photo/CwE8q8sMSUO471g924AKYTsrs.svg");
    background-size: 45%;
    z-index: 0;
}
.smart-location-block-information {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.smart-location-information-title, .smart-location-information {
    flex: 1;
    display: flex;

    align-items: end;
    margin: 0px;
    text-align: start;
    font-weight: 500;
    font-size: 25px;

}
.smart-location-information {
    align-items: center;
    line-height: 1.6;
    flex: 2;
    font-size: 18px;
    font-weight: 200;
}
#private-servers {
    flex-direction: row;
    gap: 50px;
    padding-left: 40px;
    height: calc(100vh - 100px);
}
.private-servers-block-phone, .private-servers-block {
    flex: 3;
}
.private-servers-block-phone {
    display: flex;
    flex-shrink: 0;
    justify-content: end;
    flex: 4;
}
.private-servers-phone {
    margin-right: 40px;
    background-image: url("Photo/3zd56ykVndknlwalBaB0ySd4w.webp");
}
.private-servers-block {
    display: flex;
    flex-direction: column;
    gap: 0px;
    animation: about-us-text-move linear forwards;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 20%;
    z-index: 1;
}
.private-servers-button-news {
    height: 40px;
}
.button-news {
    background: var(--color-button-news);
    border-radius: 30px;
    width: 100px;
    height: 100%;

    color: var(--main-color-text-blue);
    /* cursor: pointer; */
    position: relative;
    
    font-size: 15px;
    overflow: hidden;
    user-select: none;
    transition: all 0.3s ease;
}
.button-news::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: var(--color-button-news);
    border-radius: 30px;
    z-index: -2 ;
}
.button-news::before {
    content: "";
    display: flex;
        
    position: absolute;
    transform: translateY(40px);
    width: 100%;
    height: 40px;
    z-index: -1;
    opacity: 0;
    background: var(--main-color-electro-blue);    
    transition: all 0.3s ease;
}
.button-news:hover.button-news::before {
    transform: translateY(0px);
    opacity: 1;
}
.button-news:hover {
    color: #0c0b15;
    background: var(--color-button-news-dark);
}
.private-servers-title {
    height: 100px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;

    font-size: 50px;
    font-weight: 450;

}
.private-servers-information {
    margin-top: 25px;
    height: 230px;

    font-weight: 100;
    line-height: 1.4;
    font-size: 18px;
}
.private-servers-button-purchase-console {
    height: 50px;
    margin-top: 25px;
}
#price-service {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 150vh;
}
.price-service-title, .price-service-text {
    height: 100px;

    font-size: 47px;
    font-weight: 500;
    margin: 0px;
}
.price-service-text {
    font-size: 18px;
    font-weight: 200;
    height: 30px;
}
.price-service-All-block {
    margin-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.price-service-block {
    display: flex;
    justify-content: center;
    padding-block: 60px;
    width: 380px;
    height: 80%;
}
#price-card-first {
    padding-block: 0px;
}
.price-block-mark {
    align-self: center;
    z-index: 3;

    border-radius: 50px;
    width: 270px;
    height: 50px;
    background-color: var(--button-mark-price-color);

    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--button-mark-price-color-lighter);
}
.price-block {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    background: var(--main-color-black-gray);
    border: 0.5px solid rgba(124, 124, 124, 0.4);
}
.price-price, .price-price p {
    display: flex;
    flex-direction: row;
    margin: 0px;
    white-space: nowrap;
    height: 50px;
    font-size: 50px;
    font-weight: 500;
}
.price-price p {
    font-size: 20px;
    align-items: end;
    font-weight: 200;
}
.price-text {
    margin-top: 25px;
    height: 20px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(185, 185, 185, 0.8);
}
.horizantal-rule {
    margin-top: 20px;
    margin-left: 0px;
    width: 280px;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    opacity: 0.2;
}
.price-question {
    margin-top: 3px;
    height: 18px;
    font-size: 18px;
    font-weight: 600;
}
#price-card-first {
    flex-direction: column;
    height: 103%;
}
.price-service-content-card {
    border-radius: 25px;
    transform: translateY(-25px);
    width: 100%;
    height: 100%;
    background: #1c1d29;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgb(255, 66, 104, 0.1);    
}
    #le-block-price {
        border-radius: 25px 0px 0px 25px;
    }
.price-service-content-card::before {
    width: 1000%;
    height: 1000%;
    content: "";
    position: absolute;
    animation: rotate-glow 1.5s linear infinite;
    background: conic-gradient(rgb(255, 66, 104) 0% , rgb(40, 144, 255) 55%, rgb(45, 189, 255) 60%, rgb(40, 144, 255) 65%, rgb(255, 0, 51) 100%);
}
.price-service-content-card-first {
  position: relative;
  background: var(--main-color-black-gray);
  width: calc(100% - 10px);
  height: calc(100% - 42px);
  scale: 0.99;
  border-radius: 25px;
  padding: 24px;

  z-index: 2; /* Поднимает контент выше бегущей линии */
}
#price-price-first {
    margin-top: 65px;
}
#price-list {
    margin: 0px;
    margin-top: 15px;
    text-indent: 0px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
}
#price-list li {
    padding-left: 28px;
    margin-left: 0px;
    margin-bottom: 24px;
}
#price-list li::before {
    width: 18px;
    height: 18px;
}
.price-button-purchase {
    align-self: center;
    margin-top: auto;
    transform: translateX(-30px);
    background: transparent;
    padding-inline: 80px;
    color: var(--main-color-text-lighter);
    border: 1px solid var(--main-color-text-lighter);
    font-weight: 300;
    transition: all 0.3s ease;
}
.price-button-purchase:hover {
    background: var(--main-color-electro-blue);
    border-color: var(--main-color-electro-blue);
    color: #1c1d29;
}
#price-button-first {
    background: var(--main-color-electro-blue);
    border-width: 0px;
    color: var(--main-color-text-black-blue);
    transition: all 0.3s ease;
    transform: translateY(80px) translateX(35px);
}
#price-button-first:hover {
    background: rgb(64, 139, 219);
}
#question-answer {
    flex-direction: row;
}
.question-answer-block-box, .question-answer-block-list-question {
    display: flex;
    flex: 1;
    margin-top: 50px;
    justify-content: end;
    padding-right: 25px;
    opacity: 0;
    animation: question-move-right linear forwards;
    animation-timeline: view();
    animation-range-start: 20%;
    animation-range-end: 30%;
}
.question-answer-block-list-question {
    animation: question-move-left linear forwards;
    animation-timeline: view();
    animation-range-start: 20%;
    animation-range-end: 30%;
    flex-direction: column;
    padding-right: 0px;
    padding-left: 30px;
    gap: 0px;
    height: fit-content;
    justify-content: start;
}
/* Главный контейнер (бывший ваш .question-answer-question) */
.question-answer-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 570px;
    margin-top: 0px;
    overflow: hidden;
    padding: 20px 25px; /* Аккуратные внутренние отступы */
    border-radius: 25px;
    transition: all 0.3s ease-in;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину 570px */
}
.question-answer-container.clicked {
    background: var(--main-color-electro-blue);   
    padding-bottom: 30px;
}
/* Шапка с вопросом */
.question-header {
    color: var(--color-question-list); 
    font-size: 24px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 0px;
    transition: all 0.3s ease-in;
    user-select: none;
}

/* Магическая обёртка для ответа */
.answer-wrapper {
    display: grid;
    grid-template-rows: 0fr; /* Изначально ответ полностью сжат в 0 */
    transition: grid-template-rows 0.3s ease-in-out; /* Плавное изменение */
}

/* Контент ответа внутри обёртки */
.answer-content {
    user-select: none;
    color: var(--main-color-text-black-blue);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-left: 50px;
    overflow: hidden; /* Прячет текст, пока блок сжат */
    padding-top: 0px;  /* Изначально отступа нет */
    transition: padding 0.3s ease-in-out; /* Плавно добавляем отступ */
}
.question-answer-container.clicked .question-header {
    color: var(--main-color-text-black-blue);
    margin-top: 10px;
}
/* СОСТОЯНИЕ ОТКРЫТОГО БЛОКА (когда добавлен класс .clicked) */
.question-answer-container.clicked .answer-wrapper {
    grid-template-rows: 1fr; /* Плавно раскрывается ровно под размер текста */
}

.question-answer-container.clicked .answer-content {
    padding-top: 15px; /* Красивый отступ между вопросом и ответом при открытии */
}
.question-answer-box {
    flex-direction: column;
    gap: 10px;

    width: 560px;
    height: 500px;
    border-radius: 40px;
    background: var(--main-color-black-gray);
}
.question-answer-box-icon {
    width: 90px;
    height: 90px;
    background: var(--icon-question-answer);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.question-answer-box-button {
    margin-top: 25px;

    width: fit-content;
    padding-inline: 25px;
    height: 45px;
    border-radius: 40px;
    background: rgb(41, 40, 45);

    color: var(--main-color-text-blue);
    font-size: 16px;
    font-weight: 300;
}
.question-answer-block-list-question {
    flex: 1;
}
.question-answer-box-title, .question-answer-box-text {
    margin: 0px;

    font-size: 50px;
    font-weight: 500;
}
.question-answer-box-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}
footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    background: var(--main-color-black-gray);
}
.footer-hight {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 500;
    padding-left: 150px;
}
#footer-horizantal-rule {
    border-top: 0.5px solid rgb(39, 39, 39);
    width: 80%;
    border-color: #2e2e2e;
}
.footer-lower {
    width: 100%;
    height: 200px;
    font-weight: 400;
    font-size: 18px;
}
.footer-lower p {
    margin: 0px;
}
