:root {
--main-color-back: url('Photo/macos-tahoe-26-5120x2880-22675.jpg');
--main-color-search: rgba(232, 237, 249, 0.5);
--color-text-brand: rgb(255, 255, 255);
--color-text-lighter: #666666;
--color-attr-button-back: #ffffff;
--color-button-hover-search:rgb(219, 224, 239);
--color-button-hover: rgba(255, 255, 255, 0.4);
--color-border: rgb(219, 219, 219, 1);
--color-box-shadow-creater: rgba(255, 255, 255, 0.2);
--color-border-creater: rgb(219, 219, 219, 1);
--color-text-creater: rgb(255, 255, 255);
--color-text-keep-content: rgb(255, 255, 255);
--main-color-line-header: rgb(219, 219, 219);
--color-text-search: rgb(75, 75, 75);
--color-text-search-focus: rgb(53, 53, 53);
--media-pin: url(Photo/pinOutBlack.png);
--media-pin-used: url(Photo/pinDownBlack.png);
} 
@media (prefers-color-scheme: dark) {
:root {
--main-color-back: url(Photo/macos-tahoe-26-5120x2880-22674.jpg); 
--media-pin: url(Photo/pinOutWhite.png);
--media-pin-used: url(Photo/pinDownWhite.png);
--main-color-search: rgba(255, 255, 255, 0.2);    
--color-text-brand: rgb(252, 252, 252);
--color-text-lighter: white;
--color-attr-button-back: #666666;
--color-button-hover-search:rgb(219, 224, 239);
--color-button-hover: rgba(255, 255, 255, 0.199);
--color-border: rgb(131, 131, 131);
--color-box-shadow-creater: rgba(248, 248, 248, 0.993);
--color-border-creater: rgb(131, 131, 131);
--color-text-creater: rgb(255, 255, 255);
--main-color-line-header: rgb(125, 125, 125);
--color-text-keep-content: rgb(255, 255, 255);
--color-text-search: rgb(212, 212, 212);
--color-text-search-focus: white;
}
}