:root {
--main-color-back: url('Photo/macos-tahoe-26-5120x2880-22675.jpg');
--main-color-search: rgb(232, 237, 249);
--bg-opacity: 0.5;
--keep-opacity: 0.1;
--main-color-search-result: color-mix(in srgb, var(--main-color-search) calc(var(--bg-opacity) * 100%), transparent);
--color-text-lighter: #666666;
--color-attr-button-back: #ffffff;
--color-button-hover-search:rgb(219, 224, 239);
--color-button-hover: rgba(255, 255, 255, 0.4);
--color-border: rgba(219, 219, 219, 1);
--color-text-creater: rgb(255, 255, 255);
--color-text-keep-content: rgb(255, 255, 255);
--main-color-line-header: rgb(219, 219, 219);
--color-text-search: rgb(75, 75, 75);
--color-text-search-focus: rgb(53, 53, 53);
--media-pin: url(Photo/pinOutBlack.png);
--media-pin-used: url(Photo/pinDownBlack.png);
--color-keep: rgb(255, 255, 255);
--color-preloaders: rgb(208, 255, 246);
--color-keep-result: color-mix(in srgb, var(--color-keep) calc(var(--keep-opacity) * 100%), transparent);
--opacity-border: 0.5;
--color-border-result: color-mix(in srgb, var(--color-border) calc(var(--opacity-border) * 100%), transparent);
--color-shadow: rgb(255, 255, 255);
--opacity-shadow: 0.2;
--color-shadow-result: color-mix(in srgb, var(--color-shadow) calc(var(--opacity-shadow) * 100%), transparent);
--brightness-shadow: 20px;
--color-text-brand: rgb(255, 255, 255);
--opacity-brand: 1;
--color-text-title: rgb(255, 255, 255);
--color-text-brand-result: color-mix(in srgb, var(--color-text-title) calc(var(--opacity-brand) * 100%), transparent);
--color-text-keep-content: rgb(255, 255, 255);
--opacity-content: 1;
--color-text-keep-content-result: color-mix(in srgb, var(--color-text-keep-content) calc(var(--opacity-content) * 100%), transparent);
--opacity-border-search: 0.7;
--color-border-search: rgb(245, 245, 245);
--color-border-search-result: color-mix(in srgb, var(--color-border-search) calc(var(--opacity-border-search) * 100%), transparent);
--brightness-search: 2;
--opacity-text-search: 1;
--color-text-search-result: color-mix(in srgb, var(--color-text-search) calc(var(--opacity-text-search) * 100%), transparent);
--color-text-search-focus-opacity: 1;
--color-text-search-focus-result: color-mix(in srgb, var(--color-text-search-focus) calc(var(--color-text-search-focus-opacity) * 100%), transparent);
--color-creater: rgb(255,255,255);
--color-creater-op: 0;
--color-creater-result: color-mix(in srgb, var(--color-creater) calc(var(--color-creater-op) * 100%), transparent);
--color-border-creater: rgb(255,255,255);
--color-border-creater-op: 1;
--color-border-creater-result: color-mix(in srgb, var(--color-border-creater) calc(var(--color-border-creater-op) * 100%), transparent);
--color-shadow-creater: red;
--color-shadow-creater-op: 1;
--color-shadow-creater-result: color-mix(in srgb, var(--color-shadow-creater) calc(var(--color-shadow-creater-op) * 100%), transparent);
--opacity-text-creater: 1;
--color-text-creater: rgb(255,255,255);
--color-text-creater-result: color-mix(in srgb, var(--color-text-creater) calc(var(--opacity-text-creater) * 100%), transparent);
--color-text-creater-placeholder: color-mix(in srgb, var(--color-text-creater) calc(var(--opacity-text-creater) * 50%), transparent);
}
@media (prefers-color-scheme: dark) {
:root {
--main-color-back: url(Photo/macos-tahoe-26-5120x2880-22674.jpg); 
--media-pin: url(Photo/pinOutWhite.png);
--media-pin-used: url(Photo/pinDownWhite.png);
--main-color-search: rgb(232, 237, 249);
--bg-opacity: 0.5;
--keep-opacity: 0.1;
--main-color-search-result: color-mix(in srgb, var(--main-color-search) calc(var(--bg-opacity) * 100%), transparent);
--color-text-brand: rgb(252, 252, 252);
--color-text-lighter: white;
--color-attr-button-back: #666666;
--color-button-hover-search:rgb(219, 224, 239);
--color-button-hover: rgba(255, 255, 255, 0.199);
--color-border: rgb(131, 131, 131);
--color-box-shadow-creater: rgba(248, 248, 248, 0.993);
--color-border-creater: rgb(131, 131, 131);
--color-text-creater: rgb(255, 255, 255);
--main-color-line-header: rgb(125, 125, 125);
--color-text-keep-content: rgb(255, 255, 255);
--color-text-search: rgb(28, 34, 44);
--color-text-search-focus: rgb(50, 50, 44);
--color-keep: rgba(255, 255, 255, 0);
--color-preloaders: rgb(208, 255, 246);
--color-keep-result: color-mix(in srgb, var(--color-keep) calc(var(--keep-opacity) * 100%), transparent);
--opacity-border: 0.5;
--color-border-result: color-mix(in srgb, var(--color-border) calc(var(--opacity-border) * 100%), transparent);
}
}